body {
  width: 250px;
  font-family: Arial;
}

h4 {
  text-align: center;
}

.input-box {
  display: flex;
}

input {
  flex: 1;
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

button {
  padding: 6px 10px;
  border: none;
  background: #411a1a;
  color: white;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
}

ul {
  padding-left: 0;
  margin-top: 10px;
}

li {
  list-style: none;
  padding: 8px;
  background: #f2f2f2;
  margin-bottom: 6px;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
}

.delete {
  color: red;
  cursor: pointer;
}
